@font-face {
    font-family: "pantonextrabold";
    src: url("../font/panton-extrabold-webfont.woff2") format("woff2"),
        url("../font/panton-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pantonlight";
    src: url("../font/panton-light-webfont.woff2") format("woff2"),
        url("../font/panton-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$primary-color: #f8951d;
$yellowish: #fdb02e;
$text-color: #353c43;
$light-grey: #9a9a9a;
$light-blue: #c1c7cc;
$white: #fff;

$font-bold: "pantonextrabold";
$font-light: "pantonlight";
$font-text: "Roboto", serif;

.darkBg {
    background: $text-color;
    color: $light-blue;
}

body {
    // scroll-snap-type: y mandatory;
    // height: 100%;
}

html {
    height: 100%;
}

.orange {
    // background-color: $primary-color;
    background: rgb(248, 149, 29);
    background: linear-gradient(
        180deg,
        rgba(248, 149, 29, 1) 0%,
        rgba(248, 117, 29, 1) 100%
    );
}

.light {
    font-family: $font-light;
}

.white {
    color: $white;
}

.heavy {
    font-family: $font-bold;
}

.posL {
    position: relative;
    left: -5rem;
}

.posR {
    position: relative;
    right: -5rem;
}

html,
body {
    overflow-x: hidden;
    color: $text-color;
}

h1 {
    font-family: $font-bold;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    span:nth-of-type(1) {
        font-family: $font-light;
    }
}

h3 {
    font-family: $font-bold;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

#h1R {
    margin-bottom: 2.5rem;
}

p {
    line-height: 1.66rem;
}

.scrollSnap {
    // scroll-snap-align: start;
}

.show {
    opacity: 0.5 !important;
    z-index: 1 !important;
}

.hide {
    opacity: 0;
}

.hideSide {
    width: 0 !important;
}

.vh100 {
    height: calc(100vh - 4rem);
    /* display: flex; */
    align-items: center;
}

.vh100Container {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vh100ContainerFull {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontPath {
    display: none;
}

.frontPathKreis {
    position: absolute;
    left: 50%;
    top: -30%;
    z-index: -2;
}

.strich {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $white;
}

.underline {
    font-family: $font-text;
    font-size: 0.85rem;
}

p,
.link {
    font-family: $font-text;
}

.heroRight {
    // background: $primary-color;
}

#naviRow {
    height: 4rem;
    position: absolute;
    z-index: 10;
    .row {
        min-height: 4rem;
    }
}

.shadow {
    transition: all ease-in-out 250ms;
}

.hMain {
    // height: calc(100% - 4rem) !important;
    // height: calc(100vh - 4rem);
}

.hMainClient {
    height: 100vh;
}

.bgText {
    background: $yellowish;
}

.next {
    position: fixed;
    right: 1rem;
    top: 50%;
    background: lightgray;
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    will-change: transform, opacity;
    overflow: hidden;
}

#home,
#home > .row {
    height: calc(100vh - 4rem);
}

.link {
    margin-right: 3rem;
}

.smLink {
    margin-right: 1rem;
    display: flex;
}

.grayscale {
    filter: grayscale(1);
}

#popup {
    position: absolute;
    width: 20rem;
    min-height: 10rem;
    background-color: white;
    // right: 0;
    height: 20rem;
    z-index: 1;
    transform: translateX(1000px);
    display: none;
}

.hide {
    transform: scale(0);
}

.link {
    cursor: pointer;
}

.link:hover {
    border-bottom: solid thin $text-color;
}

#logo {
    width: 50px;
    position: relative;
    top: 7px;
}

.footer {
    background: #333333;
    height: 4rem;
}

#page-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

#content-wrap {
    // height: 100vh;
    padding-bottom: 4rem; /* Footer height */
}

// #about {
//     padding-top: 6rem;
// }

.aboutgrid {
    div {
        cursor: pointer;
        img {
            height: 4rem;
        }
    }
}

.txtWrapper {
    max-width: 35rem;
}

.btns {
    border: solid thick #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
}

.btns:hover {
    background: white;
    color: $text-color;
}

.clientLinks {
    font-size: 0.85rem;
    font-family: $font-text;
    color: $light-grey;
}

.clientLogo {
    opacity: 0.5;
}

.mb-6 {
    margin-bottom: 6rem;
}

.pt-8 {
    padding-top: 8rem;
}

.pb-8 {
    padding-bottom: 8rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

// SECTIONS

#aboutSection {
    display: none;
}

#clientSection {
    display: none;
}

.btns:hover {
}

#h1L {
    transform: translateX(-1000px);
    opacity: 0;
}

#h1R {
    transform: translateX(1000px);
    opacity: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; /* Footer height */
    margin: 0;
    color: $light-grey;
    .container > .row > .col > .wrapper > span {
        margin-right: 1rem;
        font-family: $font-text;
        font-size: 0.75rem;
    }
}

.shadow {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.slide-in-elliptic-left-fwd {
    animation: slide-in-elliptic-left-fwd 0.7s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.slide-out-blurred-bottom {
    animation: slide-out-blurred-bottom 0.45s
        cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

.scale-in-center {
    visibility: visible;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-center {
    visibility: visible;
    animation: scale-out-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
    -webkit-animation: slide-out-right 0.5s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-left {
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-bottom {
    -webkit-animation: slide-out-bottom 0.5s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both;
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        transform: translateX(-800px) rotateY(30deg) scale(0);
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes slide-out-blurred-bottom {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px) scaleY(2) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}
@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}

@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
}
@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
