@media (min-width: 768px) and (max-width: 990px) {
  h3 {
    font-size: 1.1rem;
  }
  .height4 {
    height: 4rem;
  }
  #logoBig img {
    position: absolute;
    top: 9rem;
    z-index: 2;
    /* left: 20px; */
    width: 45%;
  }
  .link {
    font-size: 0.85rem;
  }
  #naviRow > .row {
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  }
  .heroRight {
    background: none;
    z-index: 3;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .imgWrapper img {
    width: 100%;
  }
  #naviRow {
    position: fixed;
  }
  #naviRow .row {
    background: white;
  }
  .vh100Tablet {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  #popup {
    width: 50%;
    background-color: white;
    z-index: 1;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    display: none;
    right: 0;
    height: 100%;
    padding-top: 6rem;
  }
  #popup .wrapper {
    padding: 2.5rem;
  }
  #popup h3 {
    margin: 2rem 0 3rem 0;
  }
  .overlay {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
    opacity: 0;
    -webkit-transition: opacity ease-in-out 200ms;
    transition: opacity ease-in-out 200ms;
    display: none;
  }
  .heroRight {
    padding-top: 15rem;
  }
  .aboutgrid {
    margin-bottom: 2.5rem !important;
  }
  .underline {
    text-align: center;
  }
  .bgTextWhite {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }
  .txtWrapper {
    /* max-width: 35rem; */
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .aboutgrid div img {
    height: 3rem;
  }
  #logoImg {
    position: absolute;
    bottom: -44rem;
    width: 116%;
    padding-top: 9rem;
  }
  .vh100end {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  p {
    font-family: "Roboto", serif;
    font-size: 0.85rem;
  }
  .useCaseOne {
    padding: 1rem 0;
    font-size: 1.75rem;
  }
  .frontPath {
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    z-index: -1;
    display: block;
  }
  .heroRight .mt-5 {
    margin-top: 5rem !important;
  }
  #popup img {
    width: 65%;
  }
  .frontPathKreis {
    display: none;
  }
  .btns {
    border: solid 1px #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 99px;
    min-width: 13rem;
    text-align: center;
  }
  .clientLinks {
    font-size: 0.65rem;
  }
  .vh100Container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8rem 0;
  }
  #useCaseTwo {
    margin-top: -3rem;
  }
}

@media (min-width: 991px) and (max-width: 1023px) {
  .logoBig img {
    width: 45%;
  }
  .btns {
    border: solid 1px #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 99px;
    min-width: 13rem;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .logoBig img {
    width: 45%;
  }
  .btns {
    border: solid 1px #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 99px;
    min-width: 13rem;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .frontPathKreis {
    position: absolute;
    left: 33%;
    /* top: -100%; */
    z-index: -2;
  }
  .btns {
    border: solid 1px #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 99px;
    min-width: 10rem;
    text-align: center;
  }
  .aboutgrid div img {
    height: 2rem;
  }
  .bgText {
    background: #fe8f05;
    color: white;
    padding: 2rem;
  }
  .vh100 {
    height: calc(100vh - 4rem);
    /* display: flex; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4rem 0 0 0;
  }
  .overlay {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
    opacity: 0;
    -webkit-transition: opacity ease-in-out 200ms;
    transition: opacity ease-in-out 200ms;
    display: none;
  }
  #popup {
    width: 50%;
    background-color: white;
    z-index: 1;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    display: none;
    right: 0;
    height: 100%;
    padding-top: 6rem;
  }
  #popup img {
    width: 20%;
  }
  #popup .wrapper {
    padding: 0 4rem;
  }
  #popup h3 {
    margin: 2rem 0 3rem 0;
  }
  #naviRow {
    height: 4rem;
    z-index: 2;
    background: #fffefe;
  }
  p,
  .link {
    font-family: "Roboto", serif;
    font-size: 0.85rem;
  }
  #page-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
  }
  #useCaseTwo {
    padding-top: 8rem;
  }
  .vh100Container {
    height: auto;
    padding: 8rem 0;
  }
}

@media (min-width: 1281px) {
  .logoBig img {
    width: 40%;
  }
  .btns {
    border: solid 1px #fff;
    padding: 1rem 2rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
    color: white;
    border-radius: 99px;
    min-width: 13rem;
    text-align: center;
  }
  #contactSection .vh100Container {
    padding-bottom: 0rem;
  }
  .vh100Container {
    height: calc(60vh - 4rem);
  }
  .frontPathKreis {
    position: absolute;
    left: 40%;
    z-index: -2;
    top: 4rem;
  }
}

@media only screen and (device-width: 1024px) and (orientation: portrait) {
  .frontPathKreis {
    position: absolute;
    left: 50%;
    top: -30%;
    z-index: -2;
  }
}
/*# sourceMappingURL=responsive.css.map */